/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

body{
    font-family: Montserrat, sans-serif;
}

header{
    height: 200px;
    display: flex;
    padding: 20px;
    align-items: center;

    h2{
        flex: 1.4;
        display: flex;
        font-size: 45px;
        margin-right: 30px;
        margin-left: 30px;
    }
    mat-form-field{
        margin-right: 100px;
        width: 300px;

    }
}

h1{
        flex: 1.4;
        display: flex;
        font-size: 35px;
        margin-right: 30px;
        margin-left: 30px;

}

.description{
    flex: 1.4;
    display: flex;
    font-size: 30px;
    margin-right: 30px;
    margin-left: 30px;

}

.weatherStorm{
    background-image: linear-gradient(to bottom, #5b4085, WHITE);
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 0.55em;
}
.weatherDrizzle{
    background-image: linear-gradient(to bottom, #8caeab, WHITE);
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 0.55em;

}
.weatherRain{
    background-image: linear-gradient(to bottom, #8399ae, WHITE);
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 0.55em;

}
.weatherSnow{
    background-image: linear-gradient(to bottom, #80c8ff, WHITE);
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 0.55em;

}
.atmosphere{
    background-color: goldenrod;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 0.55em;

}
.clouds{
    background-image: linear-gradient(to bottom, #7185ec, WHITE);
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 0.55em;

}

.weathertile{
    height: 500px;
    padding: 10px;
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
    display: flex;

    

    ul{
        margin: 0 auto;
            padding: 0;
            display: flex;
            justify-content: center;
        
        li{
            
            display: inline-block;
            padding: 20px;
          
            mat-card.projectCard{
                height: 250px;
                position: relative;
                margin: 0 auto;
                margin-bottom: 35px;
                width: 170px;
                border-style: thin;
                box-shadow: 0px 10px 10px 5px grey;    
            }

            
        }
    }
}